.NotificationCenter{
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 3;
}

.Notification{
    position: relative;
    width: 380px;
    padding: 5px 0;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.875em;
    color: white;
    border-radius: 5px;
    margin-top: 5px;
}

.Notification.error{
    background-color: #FF4747;
}

.Notification.success{
    background-color: #00A9C4;
}

.caption{
    font-weight: 600;
}

.message{
    flex-grow: 1;
    word-break: break-all;
}

.icon-wrapper{
    flex-basis: 36px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-dismiss-wrapper{
    cursor: pointer;
    transition: 0.2s;
}

.icon-dismiss-wrapper:hover > svg{
    fill: #e4e4e4;
}

.NotificationCenter :global(.item-enter), .NotificationCenter :global(.item-appear){
    top: -100px;
    opacity: 0;
    transition: 0.4s;
}

.NotificationCenter :global(.item-enter-active), .NotificationCenter :global(.item-appear-active){
    top: 0;
    opacity: 1;
}

.NotificationCenter :global(.item-exit){
    opacity: 1;
    max-height: 400px;
    transition: 0.4s;
}

.NotificationCenter :global(.item-exit-active){
    opacity: 0;
    max-height: 0px;
    margin-bottom: -15px;
}