.TodoList{
    margin: 0 auto;
    max-width: 700px;
    padding-bottom: 1px;
    font-size: 1.5rem;
    font-weight: 300;
    color: #8d8d8d;
}

.TodoList :global(.item-enter){
    max-height: 0px;
}

.TodoList :global(.item-enter), .TodoList :global(.item-appear){
    background-color: rgb(240, 240, 240);
}

.TodoList :global(.item-enter-active){
    max-height: 500px;
}

.TodoList :global(.item-enter-active), .TodoList :global(.item-appear-active){
    background-color: white;
    transition: 1s ease-out;
}

.TodoList :global(.item-exit){
    opacity: 1;
    max-height: 100px;
}

.TodoList :global(.item-exit-active){
    opacity: 0;
    max-height: 0px;
    transition: 0.4s ease-out;
}

.TodoList :global(.parent-link-enter){
    max-height: 0px;
}

.TodoList :global(.parent-link-enter-active){
    max-height: 60px;
}

.TodoList :global(.parent-link-enter-active),
.TodoList :global(.parent-link-appear-active){
    transition: 0.2s ease-out;
}

.TodoList :global(.parent-link-exit){
    opacity: 1;
    max-height: 60px;
}

.TodoList :global(.parent-link-exit-active){
    opacity: 0;
    max-height: 0px;
    transition: 0.1s ease-in;
}

.content{
    margin: 0 10px 40px 10px;
    box-shadow: 0px 0px 10px rgb(226 226 226);
    background-color: white;
    border-radius: 5px;
}

.parents{
    font-size: 1rem;
    font-weight: 400;
    list-style: none;
    padding: 0;
    margin: 0 0 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    max-width: 95%;
}

.parents li{
    display: flex;
    align-items: center;
}

.parents li > a{
    font-size: 1rem;
    padding: 7px;
    display: block;
    color: #8d8d8d;
    text-decoration: none;
    user-select: none;
    opacity: 0.6;
    transition: 0.2s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.parents li > a:hover{
    font-weight: 400;
    opacity: 1;
}

.parents li:last-child > a{
    font-weight: 300;
    font-size: 2.1875em;
    user-select: text;
    cursor: default;
    opacity: 1;
}

.parents li > svg{
    width: 0px;
    transition: 0.2s;
}

.parents li:hover svg{
    width: 18px;
}

.header{
    margin-left: 15px;
    height: 215px;
}

.menu{
    display: flex;
}

.actions{
    display: flex;
    flex-grow: 1;
}

.action-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    cursor: pointer;
    transition: background 0.3s;
}

.action-button.disabled{
    cursor: not-allowed;
}

.action-button > svg{
    color: rgb(128, 128, 128);
}

.action-button.disabled > svg{
    color: rgb(220, 220, 220);
}

.action-button:not(.disabled):hover{
    background: rgb(245, 245, 245);
}

.input-new-todo{
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 0px;
    overflow: hidden;
    transition: 0.2s;
}

.input-new-todo.active{
    flex-grow: 1;
}

.input-new-todo > input{
    width: 100%;
    padding: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgb(240, 240, 240);
    font-size: 1rem;
    color: rgb(140, 140, 140);
    margin: 0 10px;
    outline: none;
    transition: border-color 0.3s;
}

.input-new-todo.error > input{
    border-color: #ff5454 !important;
}

.input-new-todo > input:focus{
    border-color: rgb(220, 220, 220);
}

.input-new-todo > input::placeholder{
    color: rgb(180, 180, 180);
}

@media screen and (max-width: 500px) {
    .parents{
        font-size: 0.6rem;
    }
}