.Todo{
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    color: #8d8d8d;
    cursor: pointer;
    transition: color 0.3s;
    user-select: none;
    flex-basis: 100%;
    border-top: 1px solid rgb(238, 238, 238);
}

.Todo.selected{
    background-color: rgb(240, 240, 240);
}

.Todo:hover{
    color: #4d4d4d;
    background-color: rgb(235, 235, 235);
}

.Todo.selected:hover{
    color: #4d4d4d;
    background-color: rgb(225, 225, 225);
}

.todo-wrapper{
    overflow: hidden;
    display: flex;
}

.text{
    display: flex;
    align-items: center;
    width: calc(100% - 30px);
    margin-left: 20px;
    padding: 2px 0;
}

.text > div{
    word-wrap: break-word;
    word-break: break-all;
    outline: none;
}

.check-icon{
    width: 30px;
    display: flex;
    align-items: center;
    padding: 2px 0 2px 10px;
}

.check-icon > svg{
    color: rgb(210, 210, 210);
    transition: color 0.2s;
}

.check-icon:hover > svg{
    color: rgb(140, 140, 140);
}

.check-icon.checked > svg{
    color: rgb(130, 130, 130);
}