.Login{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-weight: 300;
    font-size: 14px;
}

.form-wrapper{
    min-width: 250px;
}

.input,
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-internal-autofill-selected{
    display: block;
    border: none;
    outline: none;
    padding: 3px 0;
    width: 100%;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    color: rgb(100, 100, 100) !important;
    border-bottom: 2px solid rgb(192, 192, 192);
}

.input::placeholder{
    color: rgb(192, 192, 192);
}

.error-message{
    margin-top: 5px;
    margin-bottom: 10px;
}

.input + div:not(.error-message){
    margin-bottom: 20px;
}

.button{
    background: none;
    border: none;
    outline: none;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    display: block;
    width: 100%;
    padding: 7px;
    margin-top: 5px;
    color: #8d8d8d;
    cursor: pointer;
    background-color: rgb(244, 244, 244);
    transition: background-color 0.2s;
}

.button:hover{
    background-color: rgb(235, 235, 235);
}

.button:first-of-type{
    margin-bottom: 10px;
}

.or{
    text-align: center;
}

/* .register-link{
    margin-top: 10px;
    color: #454545;
    display: inline-block;
}

.register-link:hover{
    color: #7e7e7e;
} */