.BaseForm{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 0.875rem;
}

.form-wrapper{
    width: 250px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(226 226 226);
    background-color: white;
    z-index: 1;
    position: relative;
}

.logo{
    background-image: url('../../../img/logo.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;
}