.BaseForm{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 300;
    font-size: 0.875rem;
    box-sizing: border-box;
    padding-bottom: 10px;
}

.after-wrapper{
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.after-wrapper > *{
    margin-top: 10px;
}